@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root{
    --dark-blue: #0d335d;
    --dark-blue-200: #0d325dd2;
}
#app{
    font-family: 'Rubik', sans-serif;
}
/* table tbody tr td{
    background-color: red;
} */
.grid-auto-fit{
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); 
}
.box-shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
}
.box-shadow-xl{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.178);
}
.long-details{
    font-size: .9rem;
}
.long-details ul{
    margin: 30px 0;
}
.long-details ul li{
    color: var(--dark-blue);
    font-weight: 600;
    margin: 5px 0;
}
.long-details ul li::before {
    content: ' \221A';
    margin-right: 10px;
}
.error{
    border-color: #f07171;
    background-color: #fbd5d5;
    color: #e02424;
    z-index: 999;
    opacity: 1;
}
.info{
    border-color: #f7c226;
    background-color: #dde0b5;
    color: #3d351e;
    z-index: 999;
    opacity: 1;
}
.success{
    border-color: #40bb35;
    background-color: #8de995;
    color: #246b13;
    z-index: 999;
    opacity: 1;
}
.text-teal-400{
    color: var(--dark-blue);
}
.hover\:text-teal-400:hover{
    color: var(--dark-blue);
}
.text-teal-500{
    color: var(--dark-blue-200);
}
.hover\:text-teal-500:hover{
    color: var(--dark-blue-200);
}

.bg-teal-400{
    background:var(--dark-blue);
}
.hover\:bg-teal-400:hover{
    background: var(--dark-blue);
}
.bg-teal-500{
    background:var(--dark-blue-200);
}
.hover\:bg-teal-500:hover{
    background: var(--dark-blue-200);
}