.single-product-card{
    .single-product-child-card{
        visibility: hidden;
        opacity: 0;
        transition: all .3s linear;

    }
    &:hover{
        .single-product-child-card{
            opacity: .95;
            visibility: visible;
            &:hover{
                opacity: 1;
            }
        }
    }
}
